{% trans_default_domain 'avito-board.admin' %}

<div>

    {% for element in form.mapperElements %}
        <div class="d-flex p-3 mb-1 gap-2 align-items-end rounded-3 border"
             style='background-color: {{ element.vars.data.elementInstance.isMapping ?:'#fff2f2' }}'
        >
            {% if element.productField is defined %}

                <div class="w-50">

                    {{ form_label(element.productField) }}
                    {{ form_help(element.productField) }}

                    {% if element.vars.data.elementInstance.isMapping == false %}
                        текст предупреждения!!!
                    {% endif %}
                </div>

                <div class="w-50 d-flex mb-1 gap-2 align-items-end rounded-3">
                    {{ form_widget(element.productField, {
                        placeholder: 'Выберите свойство продукта...',
                        attr: { 'data-select' : 'select2', class:  'mb-0'}
                    }) }}
                </div>

            {% endif %}

            {% if element.def is defined %}

                <div class="w-50">
                    {{ form_label(element.def) }}


                    {% if element.def.vars.help is not null %}
                        <div>
                            {{ include (Template(element.def.vars.help)) }}
                        </div>
                    {% endif %}

                    {% if element.vars.data.elementInstance.isMapping == false %}
                        текст предупреждения!!!
                    {% endif %}

                </div>

                <div class="w-50 d-flex mb-1 gap-2 align-items-end rounded-3">
                    {{ form_widget(element.def, {
                        placeholder: 'Значение по умолчанию...',
                        attr: { 'placeholder' : 'Значение по умолчанию'}
                    }) }}
                </div>

            {% endif %}
        </div>
    {% endfor %}

</div>

